# 1_Pyspark_Titanic_toStudent

![](https://github.com/kaopanboonyuen/GISTDA2023/raw/main/img/gistda_day2.png)

We check if we are in Google Colab.  If this is the case, install all necessary packages.

To run spark in Colab, we need to first install all the dependencies in Colab environment i.e. Apache Spark 3.2.1 with hadoop 3.2, Java 8 and Findspark to locate the spark in the system. The tools installation can be carried out inside the Jupyter Notebook of the Colab.
Learn more from [A Must-Read Guide on How to Work with PySpark on Google Colab for Data Scientists!](https://www.analyticsvidhya.com/blog/2020/11/a-must-read-guide-on-how-to-work-with-pyspark-on-google-colab-for-data-scientists/)

credit: Natawut Nupairoj

In [ ]:
try:
  import google.colab
  IN_COLAB = True
except:
  IN_COLAB = False

In [ ]:
if IN_COLAB:
    !apt-get install openjdk-8-jdk-headless -qq > /dev/null
    !wget -q https://dlcdn.apache.org/spark/spark-3.3.2/spark-3.3.2-bin-hadoop2.tgz
    !tar xf spark-3.3.2-bin-hadoop2.tgz
    !mv spark-3.3.2-bin-hadoop2 spark
    !pip install -q findspark

In [ ]:
if IN_COLAB:
  import os
  os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-8-openjdk-amd64"
  os.environ["SPARK_HOME"] = "/content/spark"

In [ ]:
import findspark
findspark.init()

# Pyspark_DataFrame_Titanic

In [ ]:
!wget https://github.com/kaopanboonyuen/Kao/raw/master/dataset/sparklab/titanic.csv

#1 Prepare environment (SparkContext, SparkSession)

In [ ]:
#1 - import module
from pyspark import SparkContext
from pyspark.sql import SparkSession
from pyspark.conf import SparkConf
from pyspark.ml import Pipeline, PipelineModel
from pyspark.ml.classification import DecisionTreeClassifier, DecisionTreeClassificationModel
from pyspark.ml.feature import StringIndexer, IndexToString, VectorAssembler
from pyspark.ml.evaluation import MulticlassClassificationEvaluator
from pyspark.ml.tuning import CrossValidator, ParamGridBuilder

In [ ]:
#2 - Create spark context
# Fill code here

In [ ]:
#Fill code here
sc

In [ ]:
sc._conf.getAll()

In [ ]:
print (sc.getConf().toDebugString())

In [ ]:
#3 - Setup SparkSession(SparkSQL)
#Fill code here
from pyspark.sql import SparkSession

#2 read titanic.csv and printSchema

In [ ]:
#4 - Read file to spark DataFrame
#Fill code here

In [ ]:
#Fill code here

#3 sample 5% with seed = 1234

In [ ]:
#Fill code here

#4 rename Sex to Gender (to new varaible 'renamed_df')

In [ ]:
#Fill code here

In [ ]:
renamed_df = data_df.withColumnRenamed("Sex","Gender")

#5 create column initial (code given)

In [ ]:
from pyspark.sql.functions import mean,col,split, col, regexp_extract, when, lit

In [ ]:
titanic_df = renamed_df.withColumn("Initial",regexp_extract(col("Name"),"([A-Za-z]+)\.",1))

In [ ]:
titanic_df.show()

#6 count by gender and count by survived

In [ ]:
#Fill code here

In [ ]:
#Fill code here

In [ ]:
#Fill code here

In [ ]:
#createOrReplaceTempView("titanic")
#Fill code here

#7 create view and use sql to compute average age and fare by survived

In [ ]:
#Fill code here

In [ ]:
spark.catalog.dropTempView("titanic")