# Spark Preparation
We check if we are in Google Colab.  If this is the case, install all necessary packages.

To run spark in Colab, we need to first install all the dependencies in Colab environment i.e. Apache Spark 3.2.1 with hadoop 3.2, Java 8 and Findspark to locate the spark in the system. The tools installation can be carried out inside the Jupyter Notebook of the Colab.
Learn more from [A Must-Read Guide on How to Work with PySpark on Google Colab for Data Scientists!](https://www.analyticsvidhya.com/blog/2020/11/a-must-read-guide-on-how-to-work-with-pyspark-on-google-colab-for-data-scientists/)

credit: Natawut Nupairoj

In [ ]:
try:
  import google.colab
  IN_COLAB = True
except:
  IN_COLAB = False

In [ ]:
if IN_COLAB:
    !apt-get install openjdk-8-jdk-headless -qq > /dev/null
    !wget -q https://dlcdn.apache.org/spark/spark-3.2.1/spark-3.2.1-bin-hadoop3.2.tgz
    !tar xf spark-3.2.1-bin-hadoop3.2.tgz
    !mv spark-3.2.1-bin-hadoop3.2 spark
    !pip install -q findspark

In [ ]:
if IN_COLAB:
  import os
  os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-8-openjdk-amd64"
  os.environ["SPARK_HOME"] = "/content/spark"

In [ ]:
import findspark
findspark.init()

# Pyspark_Classification_Pipeline_Iris

In [ ]:
!wget https://github.com/kaopanboonyuen/Kao/raw/master/dataset/sparklab/iris.csv

--2022-03-20 15:03:16--  https://github.com/kaopanboonyuen/Kao/raw/master/dataset/sparklab/iris.csv
Resolving github.com (github.com)... 140.82.113.4
Connecting to github.com (github.com)|140.82.113.4|:443... connected.
HTTP request sent, awaiting response... 302 Found
Location: https://raw.githubusercontent.com/kaopanboonyuen/Kao/master/dataset/sparklab/iris.csv [following]
--2022-03-20 15:03:16--  https://raw.githubusercontent.com/kaopanboonyuen/Kao/master/dataset/sparklab/iris.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.108.133, 185.199.109.133, 185.199.111.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.108.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 4550 (4.4K) [text/plain]
Saving to: ‘iris.csv’

iris.csv            100%[===================>]   4.44K  --.-KB/s    in 0s

2022-03-20 15:03:17 (57.6 MB/s) - ‘iris.csv’ saved [4550/4550]

In [ ]:
import numpy
import pandas

In [ ]:
from pyspark import SparkContext

sc = SparkContext.getOrCreate()

In [ ]:
sc

In [ ]:
sc._conf.getAll()

[('spark.rdd.compress', 'True'),
 ('spark.app.id', 'local-1647788601824'),
 ('spark.app.startTime', '1647788600038'),
 ('spark.serializer.objectStreamReset', '100'),
 ('spark.master', 'local[*]'),
 ('spark.driver.port', '43989'),
 ('spark.submit.pyFiles', ''),
 ('spark.executor.id', 'driver'),
 ('spark.submit.deployMode', 'client'),
 ('spark.ui.showConsoleProgress', 'true'),
 ('spark.app.name', 'pyspark-shell'),
 ('spark.driver.host', 'b1e33886bba5')]

In [ ]:
print(sc.getConf().toDebugString())

spark.app.id=local-1647788601824
spark.app.name=pyspark-shell
spark.app.startTime=1647788600038
spark.driver.host=b1e33886bba5
spark.driver.port=43989
spark.executor.id=driver
spark.master=local[*]
spark.rdd.compress=True
spark.serializer.objectStreamReset=100
spark.submit.deployMode=client
spark.submit.pyFiles=
spark.ui.showConsoleProgress=true

In [ ]:
from time import time

start_time = time()

In [ ]:
from pyspark.sql import SparkSession

spark = (SparkSession
         .builder
         .appName("Pyspark_Classification_Pipeline_Iris")
         .getOrCreate())
print(spark)

<pyspark.sql.session.SparkSession object at 0x7fdbea4e08d0>

#1 read iris.csv to data_df

In [ ]:
#Fill code here


# Attribute Information:
# 1. sepal length in cm 
# 2. sepal width in cm 
# 3. petal length in cm 
# 4. petal width in cm 
# 5. class: 
# -- Iris Setosa 
# -- Iris Versicolour 
# -- Iris Virginica

finish caching data

#2 show scheama and 5 rows

In [ ]:
#Fill code here

,summary,_c0,_c1,_c2,_c3,_c4
0,count,150,150,150,150,150
1,mean,5.843333333333335,3.0540000000000007,3.7586666666666693,1.1986666666666672,None
2,stddev,0.8280661279778637,0.43359431136217375,1.764420419952262,0.7631607417008414,None
3,min,4.3,2.0,1.0,0.1,Iris-setosa
4,max,7.9,4.4,6.9,2.5,Iris-virginica

In [ ]:
#Fill code here

root
 |-- _c0: double (nullable = true)
 |-- _c1: double (nullable = true)
 |-- _c2: double (nullable = true)
 |-- _c3: double (nullable = true)
 |-- _c4: string (nullable = true)

In [ ]:
#Fill code here

+---+---+---+---+-----------+
|_c0|_c1|_c2|_c3|        _c4|
+---+---+---+---+-----------+
|5.1|3.5|1.4|0.2|Iris-setosa|
|4.9|3.0|1.4|0.2|Iris-setosa|
|4.7|3.2|1.3|0.2|Iris-setosa|
|4.6|3.1|1.5|0.2|Iris-setosa|
|5.0|3.6|1.4|0.2|Iris-setosa|
+---+---+---+---+-----------+
only showing top 5 rows

In [ ]:
data_df.sample(False, 0.05, 1234).toPandas()

   _c0  _c1  _c2  _c3              _c4
0  4.8  3.1  1.6  0.2      Iris-setosa
1  5.1  3.8  1.6  0.2      Iris-setosa
2  7.0  3.2  4.7  1.4  Iris-versicolor
3  6.5  2.8  4.6  1.5  Iris-versicolor
4  5.0  2.0  3.5  1.0  Iris-versicolor
5  6.0  2.2  4.0  1.0  Iris-versicolor
6  6.3  2.3  4.4  1.3  Iris-versicolor
7  6.2  2.9  4.3  1.3  Iris-versicolor
8  6.9  3.2  5.7  2.3   Iris-virginica

In [ ]:
data_df = data_df.selectExpr("_c0 as sepal_length", "_c1 as sepal_width", "_c2 as petal_length","_c3 as petal_width","_c4 as class")

In [ ]:
data_df.sample(False, 0.05, 1234).toPandas()

   sepal_length  sepal_width  petal_length  petal_width            class
0           4.8          3.1           1.6          0.2      Iris-setosa
1           5.1          3.8           1.6          0.2      Iris-setosa
2           7.0          3.2           4.7          1.4  Iris-versicolor
3           6.5          2.8           4.6          1.5  Iris-versicolor
4           5.0          2.0           3.5          1.0  Iris-versicolor
5           6.0          2.2           4.0          1.0  Iris-versicolor
6           6.3          2.3           4.4          1.3  Iris-versicolor
7           6.2          2.9           4.3          1.3  Iris-versicolor
8           6.9          3.2           5.7          2.3   Iris-virginica

In [ ]:
data_df.groupBy('class').count().toPandas()

             class  count
0   Iris-virginica     50
1      Iris-setosa     50
2  Iris-versicolor     50

#3 random split 70:30 with seed = 50

In [ ]:
data_df = data_df.sort('class')
#Fill code here

data count : 150
trainingData count : 109
testData count : 41
+---------------+-----+
|          class|count|
+---------------+-----+
| Iris-virginica|   50|
|    Iris-setosa|   50|
|Iris-versicolor|   50|
+---------------+-----+

+---------------+-----+
|          class|count|
+---------------+-----+
| Iris-virginica|   32|
|    Iris-setosa|   39|
|Iris-versicolor|   38|
+---------------+-----+

+---------------+-----+
|          class|count|
+---------------+-----+
| Iris-virginica|   18|
|    Iris-setosa|   11|
|Iris-versicolor|   12|
+---------------+-----+

#4 create string indexer (code given)

In [ ]:
#String indexer
from pyspark.ml.feature import StringIndexer

str_indexer = StringIndexer(inputCol = 'class', outputCol='label')

print(str_indexer)

StringIndexer_70ecd9b0e009

#5 create vector (code given)

In [ ]:
#Create Vector

from pyspark.ml.feature import VectorAssembler

features = data_df.drop('class').columns
assem =  VectorAssembler(inputCols = features ,outputCol="features")

print("features : " + str(features))
print(assem)

features : ['sepal_length', 'sepal_width', 'petal_length', 'petal_width']
VectorAssembler_dbbfce3e9c94

#6 create decision tree model

In [ ]:
#Fill code here

DecisionTreeClassifier_33ea7168ea6a

#7 create pipeline (code given)

In [ ]:
#Set ML pipeline

from pyspark.ml import Pipeline

pipeline = Pipeline(stages=[str_indexer,assem,dt])

print(pipeline)

Pipeline_448ff5a10ee5

#8 train model

In [ ]:
#Train model

#Fill code here

#9 predict model

In [ ]:
#Make predictions

#Fill code here

DataFrame[sepal_length: double, sepal_width: double, petal_length: double, petal_width: double, class: string, label: double, features: vector, rawPrediction: vector, probability: vector, prediction: double]

In [ ]:
# Print sample result
predictions.sample(False, 0.3, 1234).toPandas()

,sepal_length,sepal_width,petal_length,petal_width,class,label,features,rawPrediction,probability,prediction
0,4.9,2.5,4.5,1.7,Iris-virginica,2.0,"[4.9, 2.5, 4.5, 1.7]","[0.0, 36.0, 0.0]","[0.0, 1.0, 0.0]",1.0
1,5.0,2.3,3.3,1.0,Iris-versicolor,1.0,"[5.0, 2.3, 3.3, 1.0]","[0.0, 36.0, 0.0]","[0.0, 1.0, 0.0]",1.0
2,5.7,2.5,5.0,2.0,Iris-virginica,2.0,"[5.7, 2.5, 5.0, 2.0]","[0.0, 0.0, 29.0]","[0.0, 0.0, 1.0]",2.0
3,5.7,3.8,1.7,0.3,Iris-setosa,0.0,"[5.7, 3.8, 1.7, 0.3]","[39.0, 0.0, 0.0]","[1.0, 0.0, 0.0]",0.0
4,6.1,2.8,4.0,1.3,Iris-versicolor,1.0,"[6.1, 2.8, 4.0, 1.3]","[0.0, 36.0, 0.0]","[0.0, 1.0, 0.0]",1.0
5,6.7,3.0,5.2,2.3,Iris-virginica,2.0,"[6.7, 3.0, 5.2, 2.3]","[0.0, 0.0, 29.0]","[0.0, 0.0, 1.0]",2.0
6,7.0,3.2,4.7,1.4,Iris-versicolor,1.0,"[7.0, 3.2, 4.7, 1.4]","[0.0, 36.0, 0.0]","[0.0, 1.0, 0.0]",1.0
7,7.2,3.6,6.1,2.5,Iris-virginica,2.0,"[7.2, 3.6, 6.1, 2.5]","[0.0, 0.0, 29.0]","[0.0, 0.0, 1.0]",2.0
8,7.3,2.9,6.3,1.8,Iris-virginica,2.0,"[7.3, 2.9, 6.3, 1.8]","[0.0, 0.0, 29.0]","[0.0, 0.0, 1.0]",2.0

In [ ]:
# Print sample result
predictions.sample(False, 0.3, 1234).select("prediction", "rawPrediction", "probability", "label", "features").toPandas()

   prediction     rawPrediction      probability  label              features
0         1.0  [0.0, 36.0, 0.0]  [0.0, 1.0, 0.0]    2.0  [4.9, 2.5, 4.5, 1.7]
1         1.0  [0.0, 36.0, 0.0]  [0.0, 1.0, 0.0]    1.0  [5.0, 2.3, 3.3, 1.0]
2         2.0  [0.0, 0.0, 29.0]  [0.0, 0.0, 1.0]    2.0  [5.7, 2.5, 5.0, 2.0]
3         0.0  [39.0, 0.0, 0.0]  [1.0, 0.0, 0.0]    0.0  [5.7, 3.8, 1.7, 0.3]
4         1.0  [0.0, 36.0, 0.0]  [0.0, 1.0, 0.0]    1.0  [6.1, 2.8, 4.0, 1.3]
5         2.0  [0.0, 0.0, 29.0]  [0.0, 0.0, 1.0]    2.0  [6.7, 3.0, 5.2, 2.3]
6         1.0  [0.0, 36.0, 0.0]  [0.0, 1.0, 0.0]    1.0  [7.0, 3.2, 4.7, 1.4]
7         2.0  [0.0, 0.0, 29.0]  [0.0, 0.0, 1.0]    2.0  [7.2, 3.6, 6.1, 2.5]
8         2.0  [0.0, 0.0, 29.0]  [0.0, 0.0, 1.0]    2.0  [7.3, 2.9, 6.3, 1.8]

#10 evaluate model (optional)

In [ ]:
#Evaluate model

#Fill code here
from pyspark.ml.evaluation import MulticlassClassificationEvaluator

accuracy = 0.853659
error = 0.146341
weightedPrecision = 0.853659
weightedRecall = 0.853659
f1 = 0.850858

#11 print tree model (code given)

In [ ]:
#Show tree diagram

treeModel = model.stages[-1]
treeModel_debug_str = treeModel.toDebugString
print(treeModel_debug_str)

DecisionTreeClassificationModel: uid=DecisionTreeClassifier_33ea7168ea6a, depth=4, numNodes=9, numClasses=3, numFeatures=4
  If (feature 2 <= 2.45)
   Predict: 0.0
  Else (feature 2 > 2.45)
   If (feature 2 <= 4.75)
    Predict: 1.0
   Else (feature 2 > 4.75)
    If (feature 3 <= 1.75)
     If (feature 3 <= 1.55)
      Predict: 2.0
     Else (feature 3 > 1.55)
      Predict: 1.0
    Else (feature 3 > 1.75)
     Predict: 2.0