In [100]:
import pandas as pd
import re

In [101]:
df = pd.read_csv('GISTDA_2021_raw.csv', low_memory=False)

In [102]:
df['text'] = df['text'].apply(lambda x: re.sub('[\n\t\r]',' ',str(x)))

In [103]:
df.head()

,created_at,twitter_id,text,user_id,user_name,screen_name,followers_count,friends_count,profile_image,retweet_count,...,lang,latitude,longitude,place_type,place_name,place_full_name,country_code,country,disaster_type,date
0,2021-08-18 23:59:59,1.428145e+18,"USGS reports a M1.75 earthquake, 20km ESE of O...",1414684496,Every Earthquake,everyEarthquake,25500,1.0,http://pbs.twimg.com/profile_images/1271322067...,0,...,en,33.067333,-115.930664,admin,California,"California, USA",US,United States,earthquake,2021-08-18
1,2021-08-18 23:59:59,1.428145e+18,RT @TOMRUSSELLCBS21: Tornado Watch shifts east...,1422984635273842692,Rosemary Quinlin,RosemaryQuinlin,160,155.0,http://pbs.twimg.com/profile_images/1424200795...,1,...,en,NaN,NaN,NaN,NaN,NaN,NaN,NaN,flood,2021-08-18
2,2021-08-18 23:59:59,1.428145e+18,RT @TOMRUSSELLCBS21: Tornado Watch shifts east...,1422984635273842692,Rosemary Quinlin,RosemaryQuinlin,160,155.0,http://pbs.twimg.com/profile_images/1424200795...,1,...,en,NaN,NaN,NaN,NaN,NaN,NaN,NaN,tornado,2021-08-18
3,2021-08-18 23:59:59,1.428145e+18,@CNN do better and fire @JeffreyToobin https:/...,1229989908317712384,kj,kj98872740,281,733.0,http://pbs.twimg.com/profile_images/1335393469...,0,...,en,NaN,NaN,NaN,NaN,NaN,NaN,NaN,fire,2021-08-18
4,2021-08-18 23:59:59,1.428145e+18,RT @FastBreakCards: üî•Fast Break Fire Freebieüî• ...,1422210877885931520,WestEndBreaks,_WestEndBreaks,18,37.0,http://pbs.twimg.com/profile_images/1422211206...,534,...,en,NaN,NaN,NaN,NaN,NaN,NaN,NaN,fire,2021-08-18

In [104]:
countries = pd.read_csv('countries.csv')

In [105]:
countries

                  country   latitude  longitude country_code    region
0                 Andorra  42.546245   1.601554           AD    Europe
1    United Arab Emirates  23.424076  53.847818           AE      Asia
2             Afghanistan  33.939110  67.709953           AF      Asia
3     Antigua and Barbuda  17.060816 -61.796428           AG  Americas
4                Anguilla  18.220554 -63.068615           AI  Americas
..                    ...        ...        ...          ...       ...
240                 Yemen  15.552727  48.516388           YE      Asia
241               Mayotte -12.827500  45.166244           YT    Africa
242          South Africa -30.559482  22.937506           ZA    Africa
243                Zambia -13.133897  27.849332           ZM    Africa
244              Zimbabwe -19.015438  29.154857           ZW    Africa

[245 rows x 5 columns]

In [106]:
merge_df = df.merge(right=countries, how='left', on='country')

In [107]:
merge_df.loc[merge_df['latitude_x'].isna(),'latitude'] = merge_df['latitude_y']

In [108]:
merge_df.loc[merge_df['latitude_x'].notna(),'latitude'] = merge_df['latitude_x']

In [109]:
merge_df.loc[merge_df['longitude_x'].isna(),'longitude'] = merge_df['longitude_y']

In [110]:
merge_df.loc[merge_df['longitude_x'].notna(),'longitude'] = merge_df['longitude_x']

In [111]:
merge_df.loc[merge_df['country_code_x'].isna(),'country_code'] = merge_df['country_code_y']

In [112]:
merge_df.loc[merge_df['country_code_x'].notna(),'country_code'] = merge_df['country_code_x']

In [113]:
merge_df = merge_df.drop(['latitude_x','longitude_x','country_code_x','latitude_y','longitude_y','country_code_y'],axis=1)

In [114]:
merge_df = merge_df[merge_df['latitude'].notna()]

In [119]:
merge_df

,created_at,twitter_id,text,user_id,user_name,screen_name,followers_count,friends_count,profile_image,retweet_count,...,place_type,place_name,place_full_name,country,disaster_type,date,region,latitude,longitude,country_code
0,2021-08-18 23:59:59,1.428145e+18,"USGS reports a M1.75 earthquake, 20km ESE of O...",1414684496,Every Earthquake,everyEarthquake,25500,1.0,http://pbs.twimg.com/profile_images/1271322067...,0,...,admin,California,"California, USA",United States,earthquake,2021-08-18,Americas,33.067333,-115.930664,US
301,2021-08-18 23:59:04,1.428144e+18,@jaybrannan Hurricane Grace Under Fire,20153146,Justin,virtualjustin,979,1087.0,http://pbs.twimg.com/profile_images/1294017381...,0,...,city,Washington,"Washington, DC",United States,fire,2021-08-18,Americas,37.090240,-95.712891,US
425,2021-08-18 23:58:42,1.428144e+18,@Agrant3595Grant Fire üî• Th # Rocket üöÄ üÜô,809136915815526401,John Saunders,JohnS222325,3106,3882.0,http://pbs.twimg.com/profile_images/8115962677...,1,...,city,Georgetown,"Georgetown, KY",United States,fire,2021-08-18,Americas,37.090240,-95.712891,US
554,2021-08-18 23:58:17,1.428144e+18,@loverofcatsesq Fire away‚Ä¶,36596213,Michael Graham,mcg1971,252,1219.0,http://pbs.twimg.com/profile_images/8882417521...,0,...,city,Temecula,"Temecula, CA",United States,fire,2021-08-18,Americas,37.090240,-95.712891,US
599,2021-08-18 23:58:05,1.428144e+18,Drinking a Tropical Storm IPA by @hookerbeer @...,1399571706012966914,EmbraceTheVoid_,RayeAlbate,126,843.0,http://pbs.twimg.com/profile_images/1427403497...,0,...,city,Philadelphia,"Philadelphia, PA",United States,storm,2021-08-18,Americas,40.068127,-75.006348,US
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
213005,2021-08-18 15:05:58,1.428010e+18,@iamtaku_ Haha that song is fire if we're keep...,598665929,Tat ü•ë,Tatenda_Avocado,3512,793.0,http://pbs.twimg.com/profile_images/1428374990...,0,...,admin,Harare,"Harare, Zimbabwe",Zimbabwe,fire,2021-08-18,Africa,-19.015438,29.154857,ZW
213311,2021-08-18 15:05:28,1.428010e+18,@julio_efe_ Ayer Tw Ec estuvo on fire! fue lo ...,44993565,Chica Migra√±a,CMIGRANA,3090,3552.0,http://pbs.twimg.com/profile_images/1355724479...,0,...,city,Daule,"Daule, Ecuador",Ecuador,fire,2021-08-18,Americas,-1.831239,-78.183406,EC
213582,2021-08-18 15:05:03,1.428010e+18,Stupid fire https://t.co/c1e4q3zl9D,70867821,ü•Ä Íú±·¥á è…™…™ Ä√òÍú±·¥á ü•Ä,Seyi_My_Name,1383,1305.0,http://pbs.twimg.com/profile_images/1424472418...,0,...,city,Houston,"Houston, TX",United States,fire,2021-08-18,Americas,37.090240,-95.712891,US
213649,2021-08-18 15:04:56,1.428010e+18,Fire Workers Accused of Stomping on Live Turke...,18325705,DebForTrump45,DebForTrump45,3378,3173.0,http://pbs.twimg.com/profile_images/1097215821...,0,...,city,Enterprise,"Enterprise, NV",United States,fire,2021-08-18,Americas,37.090240,-95.712891,US
213736,2021-08-18 15:04:48,1.428010e+18,Love U Dada.. Sanibar Jachhi Dekhte .. Kolkata...,1287126688636129281,Charlie.,DasBro124,318,183.0,http://pbs.twimg.com/profile_images/1427647370...,0,...,city,Kolkata,"Kolkata, India",India,storm,2021-08-18,Asia,20.593684,78.962880,IN

In [120]:
merge_df.to_csv('GISTDA_2021_transformed.csv',index=False)